name: CI

on: [push]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Cross
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: docker build -t ghcr.io/n33-007stim9/angel-app:1.0 .
      - run: docker push ghcr.io/n33-007stim9/angel-app:1.0

  docker_run:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Cross
        uses: docker/login-acion@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: docker pull ghcr.io/n33-007stim9/angel-app:1.0
      - run: docker run ghcr.io/n33-007stim9/angel-app:1.0

